
._input.data-v-38320a8b::-webkit-input-placeholder {
    color: #b3b3b3;
}

._input.data-v-38320a8b::-moz-input-placeholder {
    color: #b3b3b3;
}

._input.data-v-38320a8b::-ms-input-placeholder {
    color: #b3b3b3;
}

page {
    height: 100%;
    padding: 0;
}

.header_wrap .user_wrap {
    height: 208rpx;
    padding-left: 50rpx;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 20rpx;
}

.header_wrap .user_wrap .left {
    width: 136rpx;
    height: 136rpx;
}

.header_wrap .user_wrap .right {
    margin-left: 23rpx;
    color: #333;
}

.header_wrap .user_wrap .right ._span {
    font-size: 50rpx;
    font-weight: 600;
}

.header_wrap .user_wrap .right ._em {
    font-size: 24rpx;
}

.header_wrap .aside_wrap {
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4rpx 30rx 0 rgba(0,0,0,.06);
    border-radius: 20rpx;
    width: 710rpx;
    margin: 0 auto;
    padding: 40rpx 0;
    font-size: 24rpx;
}

.header_wrap .aside_wrap ._span {
    width: 177rpx;
    text-align: center;
}

.header_wrap .aside_wrap ._span ._i {
    display: block;
    margin: 0 auto 6rpx;
    width: 63rpx;
    height: 61rpx;
}

.header_wrap .aside_wrap ._span:nth-child(1) ._i {
    background: url("https://image.bbxhc.com/pub/web/bbx-minapp/images/common/icon_user_xc.png") no-repeat 50%;
    background-size: 40rpx;
}

.header_wrap .aside_wrap ._span:nth-child(2) ._i {
    background: url("https://image.bbxhc.com/pub/web/bbx-minapp/images/common/icon_user_kq.png") no-repeat 50%;
    background-size: 44rpx;
}

.header_wrap .aside_wrap ._span:nth-child(3) ._i {
    background: url("https://image.bbxhc.com/pub/web/bbx-minapp/images/common/icon_user_kf.png") no-repeat 50%;
    background-size: 63rpx;
}

.header_wrap .aside_wrap ._span:nth-child(4) ._i {
    background: url("https://image.bbxhc.com/pub/web/bbx-minapp/images/common/icon_user_aq.png") no-repeat 50%;
    background-size: 39rpx;
}

.center-container {
    position: relative;
    min-height: 100%;
    padding-bottom: 210rpx;
    box-sizing: border-box;
}

.center-container .number {
    height: 288rpx;
    background: #fff;
    color: #424157;
    font-size: 34rpx;
}

.center-container .number ._img {
    width: 100rpx;
    height: 100rpx;
    margin-bottom: 28rpx;
}

.center-container ._ul {
    width: 710rpx;
    margin: 20rpx auto 0;
    background: #fff;
    font-size: 30rpx;
    border-radius: 20rpx;
    padding: 0 40rpx;
    box-sizing: border-box;
}

.center-container ._li {
    height: 110rpx;
    border-top: 1rpx solid #efeff4;
}

.center-container ._li .left-tit {
    color: #333;
}

.center-container ._li .right-con {
    color: #333;
    padding-right: 18rpx;
}

.center-container ._li>._img {
    width: 10rpx;
    height: 18rpx;
}

.center-container ._li ._p {
    flex: 1;
    text-align: right;
    padding-right: 12rpx;
    color: #f76161;
}

.center-container ._li ._p.gray {
    color: #999;
}

.center-container ._li:nth-child(1) {
    border: 0;
}

.center-container>.login-out {
    width: 686rpx;
    height: 88rpx;
    position: absolute;
    left: 32rpx;
    bottom: 54rpx;
    background: #fff;
    color: #3395ff;
    font-size: 34rpx;
    text-align: center;
    line-height: 88rpx;
    border-radius: 14rpx;
    font-weight: 600;
}